@{
  Layout ="_Layout";
}

@using UniversityRegistrar.Models;
@model List<UniversityRegistrar.Models.Student>;

<h1 class="jumbotron"> Students Homepage </h1>

  @if(@Model.Count == 0)
  {
    <h3> No students have been added yet!</h3>
  }

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Enrollment Date</th>
      <th>Course</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  @foreach(Student student in Model) 
    {
      <tr>
      <td>@student.FirstName </td>
      <td>@student.LastName</td>
      <td>@student.DateEnrolled</td>
      @foreach(var join in student.Courses)
      {
      <td>@join.Course.CourseName</td>
      }
      <td>@Html.ActionLink("Edit", "Edit", new { id = student.StudentId })  |  @Html.ActionLink("Details", "Details", new { id = student.StudentId}) | @Html.ActionLink("Delete", "Delete", new { id = student.StudentId})</td>
      </tr>
    }
  </tbody>
</table> 

<input type="button" class="btn btn-default" value="Add a new student" onclick="location.href='@Url.Action("Create", "Students")'" />
<input type="button" class="btn btn-default" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />