@{
Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h2 class="jumbotron">Edit @Html.DisplayFor(model => model.CourseName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  <div class="form-group">
    <label>Course Name</label>
    @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control"})
  </div>
  <div class="form-group">
    <label>Description</label>
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control"})
  </div>
  <div class="form-group">
    <label>Teacher</label><br>
    @Html.EditorFor(model => model.Teacher, new { @class = "form-control"})<br>
  </div>
  <div class="form-group">
    <label>Term Offered</label><br>
    @Html.EditorFor(model => model.TermOffered, new { @class = "form-control"})<br>
  </div>
  <input type="submit" class="btn btn-default" value="Save" />
}

<input type="button" class="btn btn-default" value="Back to course list" onclick="location.href='@Url.Action("Index", "Courses")'" />